body { 
  overflow: hidden; 
}
  
  
  .first{
    width: 100vw;
    height: 100vh !important;
    z-index: 5;
  }
  .second{
    width: 100vw;
    height: 100vh !important;
    z-index: 4;
  }
  .third{
    width: 100vw;
    height: 100vh !important;
    z-index: 3;
    background-color: black;
  }

  .fourth{
    width: 100vw;
    height: 300vh !important;
    z-index: 2;
    background-color: #FFDBCD;
  }
  
  .second-top{
   height: 10vh;
    background: #4e84ff;
  }
  
.point{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10 !important;
}

  .point-verticalLne {
    margin-top: 0;
    border-left: 2px solid #FF6326;
    height: 80px;
    margin-top: 5px;
  }

  .point-circle
  {
    background-color: #FF6326;
    height: 15px;
    width: 15px;
    border-radius: 50%;
  }
  

  .fourth-container{
    display: flex;
    flex-direction: right;

  }
  
  .container-left, .container-right{
    flex:0.5
  }

  .left-first{
    height: 100vh;
  }

  .left-second{
    height: 100vh;
    background-color: green;
  }
  .left-third{
    height: 100vh;
    background-color: yellow;
  }

  .left-first>h1{
    font-size: 120px;
    width: 80%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .right-spacer{
    height: 50vh;
  }

  .right-first{
    background-color: yellowgreen;
    height: 100vh;
  }

  .right-second{
    background-color: gray;
    height: 100vh;
  }
  .right-third{
    background-color: #FFDBCD;
    height: 100vh;
  }