  
  .first{
    width: 100vw;
    height: 100vh !important;
    z-index: 5;
  }
  .second{
    width: 100vw;
    height: 100vh !important;
    z-index: 4;
  }
  .third{
    width: 100vw;
    height: 100vh !important;
    z-index: 3;
  }
  
  
  
  