@font-face {
  font-family: "NeuePlak-bold";
  src: url("./fonts/neue-plak-cufonfonts/Neue\ Plak\ Extended\ Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "NeuePlak";
  src: url("./fonts/neue-plak-cufonfonts/Neue\ Plak\ Extended\ Regular.ttf")
    format("truetype");
}

.App {
  text-align: center;
}

.main {
  box-sizing: border-box;
  opacity: 0;

  section {
    // visibility: hidden;
    width: 100%;
    position: absolute;
    height: 100vh;

    .hero {
      height: 100vh;
      background: #4e84ff;
      z-index: 5;

      .hero-logo {
        padding-top: 2rem;
      }

      .hero-content {
        .hero-heading {
          margin: 3rem 0 2rem;
          h1 {
            font-family: "NeuePlak", sans-serif;
            font-size: 9rem;
            line-height: 0.9;
            opacity: 1;
            margin: 0;

            span {
              color: #ffdbcd;
            }
          }
        }

        button {
          font-family: "NeuePlak", sans-serif;
          border-radius: 5rem;
          border: none;
          outline: none;
          background-color: #ff6326;
          color: #000;
          padding: 0.75rem 1.25rem;
          font-size: 1rem;
          font-weight: 800;
        }
      }

      .hero-park {
        position: relative;
        img {
          height: 500px;
        }
      }
    }

    .about-us {
      background: #000;
      height: 90vh;
      z-index: 4;

      .about-us-content {
        .about-us-heading {
          padding-top: 2rem;
          h1 {
            font-family: "NeuePlak", sans-serif;
            font-size: 5rem;
            line-height: 0.9;
            opacity: 1;
            margin: 0;
            color: #ffdbcd;

            span {
              color: #ff6326;
            }
          }
        }
      }
    }

    .park{
      width: 100%;
      height: 100vh;
      background: #000;
    }
  }
}
